<br/>
<p> USER REGISTRATION</p>

<div class="input">
    <label> USERNAME </label>
    <input type="text" name="username" class = "form-control" placeholder = "Enter Your Name " required/>
</div>
<br/>

<div class="input">
    <label> PASSWORD </label>
    <input type="password" name="password" class = "form-control" placeholder = "Set Password" required/>
</div>
<br/>

<div class="input">
    <label> EMAIL ID </label>
    <input type="text" name="email" class = "form-control" placeholder="Enter Email Address" required/>
</div>
<br/>

<div class="input">
    <label> PHONE NUMBER </label>
    <input type="text" name="phone" class = "form-control" placeholder="Enter Phone Number" required/>
</div>
<br/>
<div><button (click)="addUsers()"   class="btn btn-primary">
    Register   </button> </div>
 
<br/>
