<br/>
<p> LOGIN NOW</p>
<form>
    
    
    <div class="input">
        <label> USERNAME </label>
        <input type="text" name="username" class = "form-control" placeholder="Enter Username" 
        [(ngModel)]="userName" required/>


    </div>
    
    <br/>

    <div class="input">
        <label> PASSWORD </label>
        <input type="password" name="password" class = "form-control" placeholder="Enter Password"
        [(ngModel)]="password"/>
        
    </div>
    <br/>
    <div class="input">
        <button type="submit" (click)="login()">LOGIN</button>
        
       
        <br/>   
    </div>
    <br/>
    
    <br/>
    
    <div class="bg-img">

    </div>
</form>

