
td,th {
    height: 40px;
    vertical-align: bottom;
    align-self: center;
    text-align: left;
   
    border-bottom: 1px solid rgb(14, 2, 66);
  }


tr{
    color: rgb(209, 207, 235);

}
th{
      background-color: #04a341;
      color: white;
      
}
table{
    margin-top: 90px;
   
    margin-left: 300px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
  }